.modal-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-buttons {
  display: flex;
  margin-top: 20px;
  justify-content: flex-end;
}

.modal-buttons--with-margin {
  margin-right: 10px;
}
