<button (click)="onOpenAddModal(addEmployee)"
        class="btn btn-primary">
  Добавить
</button>

<cdk-virtual-scroll-viewport appendOnly itemSize="12" class="virtual-scroll">
<ng-container *cdkVirtualFor="let employee of employees">
  <app-employee-item [employee]="employee"
                     (change)="onChangeEmployee(employee)"
                     (delete)="onDelete(employee.id)"
  >
  </app-employee-item>
</ng-container>
</cdk-virtual-scroll-viewport>

<ng-template #addEmployee>
  <div class="modal-body">
    <app-employee-modal (closeModal)="modalRef?.hide()"
                        (changeEmployee)="onAddEmployee($event)">
    </app-employee-modal>
  </div>
</ng-template>
