<div class="modal-item">
  Имя сотрудника:
  <input type="text" placeholder="Имя сотрудника"
         [(ngModel)]="employee.firstName">
</div>

<div class="modal-item">
  Фамилия сотрудника:
  <input type="text" placeholder="Фамилия сотрудника"
         [(ngModel)]="employee.lastName">
</div>

<div class="modal-item">
  Департамент:
  <ng-select [items]="departments"
             bindLabel="name"
             bindValue="id"
             [(ngModel)]="departmentId">
  </ng-select>
</div>

<div class="modal-buttons">
  <button (click)="onCloseModal()" class="modal-buttons--with-margin
                                          btn i-btn-cancel">
    Отменить
  </button>
  <button (click)="onChangeEmployee()" class="btn btn-primary">
    Сохранить
  </button>
</div>
