<div class="modal-item">
  Имя сотрудника:
  <input type="text" placeholder="Имя сотрудника"
         class="input--blue"
         [ngClass]="{
          'empty': !employee?.firstName && isSubmitted
         }"
         [(ngModel)]="employee.firstName">
</div>

<div class="modal-item">
  Фамилия сотрудника:
  <input type="text" placeholder="Фамилия сотрудника"
         class="input--blue"
         [ngClass]="{
          'empty': !employee?.lastName && isSubmitted
         }"
         [(ngModel)]="employee.lastName">
</div>

<div class="modal-item">
  Департамент:
  <ng-select [items]="departments"
             bindLabel="name"
             bindValue="id"
             [ngClass]="{
              'empty': !departmentId && isSubmitted
              }"
             [(ngModel)]="departmentId">
  </ng-select>
</div>

<div class="modal-buttons">
  <button (click)="onCloseModal()" class="modal-buttons--with-margin
                                          btn i-btn-cancel">
    Отменить
  </button>
  <button name="submitBtn"
          (click)="onChangeEmployee()"
          class="btn btn-primary">
    Сохранить
  </button>
</div>
