<div class="employee">
  <div class="employee__info">
    <div class="employee__item">
      Имя сотрудника:
      {{employee?.firstName}}
    </div>

    <div class="employee__item">
      Фамалия сотрудника:
      {{employee?.lastName}}
    </div>

    <div class="employee__item">
      Депаратамент:
      {{employee?.departmentName}}
    </div>
  </div>

  <div class="employee__actions">
    <fa-icon [icon]="faEdit"
             [size]="'xl'"
             class="clickable-element action-item"
             (click)="onOpenEditModal(editEmployee)">
    </fa-icon>
    <fa-icon [icon]="faRemove"
             [size]="'xl'"
             class="clickable-element action-item"
             (click)="onDelete()">
    </fa-icon>
  </div>
</div>

<ng-template #editEmployee>
  <div class="modal-body">
    <app-employee-modal [setEmployee]="bufferEmployee"
                        (closeModal)="onCloseModal()"
                        (changeEmployee)="onChangeEmployee($event)">
    </app-employee-modal>
  </div>
</ng-template>
