<div class="employee">
  <div class="employee__info">
    Имя сотрудника
    {{employee?.firstName}}

    Фамалия сотрудника
    {{employee?.lastName}}

    Id депаратамента
    {{employee?.departmentId}}
  </div>

  <div class="employee__actions">
    <button (click)="onOpenEditModal(editDepartment)">Edit</button>
    <button (click)="onDelete()">Delete</button>
  </div>
</div>

<ng-template #editDepartment>
  <div class="modal-body">
    <app-employee-modal [setEmployee]="bufferEmployee"
                        (closeModal)="onCloseModal()"
                        (changeEmployee)="onChangeEmployee($event)">
    </app-employee-modal>
  </div>
</ng-template>
