<app-header [title]="'Список департаментов'"
            (addModal)="onOpenAddModal(addDepartment)">
</app-header>

<div class="list-block">
  <cdk-virtual-scroll-viewport appendOnly itemSize="8" class="virtual-scroll">
    <ng-container *cdkVirtualFor="let department of departments">
      <app-department-item [department]="department"
                           (change)="onChangeDepartment(department)"
                           (delete)="onDelete(department.id)"
      >
      </app-department-item>
    </ng-container>
  </cdk-virtual-scroll-viewport>

  <ng-template #addDepartment>
    <div class="modal-body">
      <app-department-modal (closeModal)="modalRef?.hide()"
                            (changeDepartment)="onAddDepartment($event)">
      </app-department-modal>
    </div>
  </ng-template>
</div>
