<div class="department">

  <div class="department__info">
    Департамент: {{department?.name}}
    Описание: {{department?.description}}
  </div>

  <div class="department__actions">
    <button (click)="onOpenEditModal(editDepartment)">Edit</button>
    <button (click)="onDelete()">Delete</button>
  </div>

</div>

<ng-template #editDepartment>
  <div class="modal-body">
    <app-department-modal [setDepartment]="bufferDepartment"
                          (closeModal)="onCloseModal()"
                          (changeDepartment)="onChangeDepartment($event)">
    </app-department-modal>
  </div>
</ng-template>
