:host {
  display: block;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 10px 5px;
  width: 50%;
}

.department {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
