<div class="department">

  <div class="department__info">
    <div class="department__item">
      Департамент: {{department?.name}}
    </div>
    <div class="department__item">
      Описание: {{department?.description}}
    </div>
  </div>

  <div class="department__actions">
    <fa-icon [icon]="faEdit"
             [size]="'xl'"
             class="clickable-element action-item margin-right"
             (click)="onOpenEditModal(editDepartment)">
    </fa-icon>
    <fa-icon [icon]="faRemove"
             [size]="'2xl'"
             class="clickable-element action-item"
             (click)="onDelete()">
    </fa-icon>
  </div>

</div>

<ng-template #editDepartment>
  <div class="modal-body">
    <app-department-modal [setDepartment]="bufferDepartment"
                          (closeModal)="onCloseModal()"
                          (changeDepartment)="onChangeDepartment($event)">
    </app-department-modal>
  </div>
</ng-template>
